﻿@{
	ViewBag.Title = "Index";
}
@section scripts
{
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var map;
			var geoCoder = new google.maps.Geocoder();

			//////////////////////////////////////////////////
			// Setup initial view of the map				//
			//////////////////////////////////////////////////
			geoCoder.geocode({ "address": "Bellefonte, PA" }, function (results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					var mapOptions = {
						zoom: 7,
						center: results[0].geometry.location,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					}

					map = new google.maps.Map(document.getElementById("divMap"), mapOptions);
				}
				else {
					alert("Geocode was not successful for the following reason: " + status);
				}
			});

			//////////////////////////////////////////////////
			// SignalR stuff!!!	Yay!						//
			//////////////////////////////////////////////////

			// Setup Variable for Hub Connection
			var wheR = $.connection.wheRHub;

			// This is our client side function called by the server
			wheR.client.addPin = function (lat, lng) {
				var latAndLonObject = new google.maps.LatLng(lat, lng);

				if (map != null) {
					var marker = new google.maps.Marker({
						map: map,
						position: latAndLonObject,
						animation: google.maps.Animation.DROP
					});
				}
			}

			// This is some stuff to do after connection with the server is made and done
			$.connection.hub.start().done(function () {
				$("#btnBroadcast").click(function () {
					var locationValue = GetAddress();
					if (locationValue != null && locationValue != '') {
						geoCoder.geocode({ "address": locationValue }, function (results, status) {
							if (status == google.maps.GeocoderStatus.OK) {
								wheR.server.broadcastLocationToAll(results[0].geometry.location.lat(), results[0].geometry.location.lng());
								
								$("#fsAddress").find("input:text").each(function () {
									$(this).val("");
								});
							}
							else {
								alert("Geocode was not successful for the following reason: " + status);
							}
						});
					}
				});
			});
		});

		function GetAddress() {
			return $('#txtStreetLine1').val() + ', ' + $('#txtStreetLine2').val() + ', ' + $('#txtCity').val() + ', ' + $('#txtState').val() + ', ' + $('#txtZip').val();
		}
	</script>
}
<div>
	<h1>
		WheR<span style="font-style: italic">...are you?</span></h1>
</div>
<div>
	<fieldset id="fsAddress" style="max-width: 150px; vertical-align: top; display: inline-block; margin: 0 25px;">
		<legend>Enter Address</legend>
		<label for="txtStreetLine1">
			Street Address:</label>
		<input type="text" id="txtStreetLine1" placeholder="Street Address..." style="width: 140px;" />
		<label for="txtCity">
			City:</label>
		<input type="text" id="txtCity" placeholder="City..." style="width: 140px;" />
		<label for="txtState">
			State:</label>
		<input type="text" id="txtState" placeholder="State..." style="width: 140px;" />
		<label for="txtZip">
			Zip:</label>
		<input type="text" id="txtZip" placeholder="Zip..." style="width: 140px;" />
		<button type="button" id="btnBroadcast">
			Broadcast</button>
	</fieldset>
	<div id="divMap" style="height: 400px; width: 80%; display: inline-block; margin: 0 25px;">
	</div>
</div>