﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/signalr")
	<script src="~/signalr/hubs"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
